body {
  background-image: linear-gradient(to left, #f3f8fa 0%, #78b5d4 100%);
}

.container-app {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.select-container {
  width: 90%;
  margin-top: 1rem;
  display: flex;
  justify-content: space-between;
}

.title {
  font-size: 2.5rem;
  font-weight: bold;
}

.btn-add {
  padding: .6rem .8rem;
  background-color: #05618f;
  color: #fff;
  border-radius: 10px;
  border: none;
  font-weight: bold;
}

.btn-add:hover {
  background-color: #0777af;
}

@media only screen and (max-width:500px) {
  .title {
        font-size: 1.5rem;
  }
}

@media only screen and (max-width:500px) {
  .select-container {
        width: 100%;
  }

  .btn-add {
        font-size: .8rem;
  }
}

