body {
  margin: 0;
  padding: 1rem;
  font-family: "Bebas Neue", cursive;
  box-sizing: border-box;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@media only screen and (max-width:620px) {
  body {
    padding: .3rem;
  }
}
